body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(51, 51, 51);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: grayscale;
      }

      @media only screen and (min-width: 768px) {
        .ui.container {
          width: 700px;
          max-width: 700px;
        }

        nav.ui.container .ui.header {
          float: left;
          margin-top: 12px;
        }

        nav.ui.container .ui.inverted.compact.menu {
          float: right;
        }
      }

      .ui.inverted.vertical.center.aligned.segment {
        padding-top: 36px;
      }

      .ui.inverted.vertical.segment {
        height: 100vh;
        background-color: rgb(51, 51, 51);
      }

      .ui.content.container {
        height: 400px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      .ui.content.container h1.header {
        font-size: 36px;
      }

      .ui.content.container p {
        font-size: 21px;
        line-height: 1.6;
        font-weight: 300;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }